<% content_for :title, "New comentario" %>

<h1>New comentario</h1>

<%= render "form", comentario: @comentario %>

<br>

<% if @comentario.post_id? %>
    <div>
      <%= link_to "Back to Post", post_path(@comentario.post_id) %>
    </div>
  <% elsif %>
    <div>
      <%= link_to "Back to comentarios", comentarios_path %>
    </div>
<% end %>

